html, body {
  font-family: 'Crimson Text', serif;
  box-sizing: border-box;
}

h1 {
  margin-bottom: .1em;
  padding-bottom: .1em;
  font-size: 3em;
  line-height: 1em;
}

h2 {
  line-height: 1em;
  margin-bottom: .1em;
  padding-bottom: .1em;
}

header p {
  font-weight: lighter;
  font-size: 1.15em;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-bottom: 2em;
}

.nav-item {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    font-size: 1.15em;
}

.nav-item a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.nav-item:hover {
  background-color: black;
  color: white;
}

.nav-item:hover a {
  color: white;
}

.wrapper {
  display: grid;
  padding-top: 3%;
  padding-bottom: 3%;
  grid-template-columns: .3fr 1fr;
  grid-template-areas: "intro photos";
}

.intro {
  grid-area: intro;
  padding-left: .5em;
  padding-right: 1em;
}

.intro p {
  line-height: 1em;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: .5em;
  padding-bottom: .5em;
}

.intro a {
  color: black;
}

.photos {
  grid-area: photos;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}

.photos img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.photos iframe {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.photos img:hover {
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform:scale(1.1);
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

/*hr {
  height: 1px;
  color: lightgrey;
  background-color: lightgrey;
  border: none;
}*/

.img-a1 {
  object-position: 50% -125px
}

.img-a2 {
  object-position: 50% 20%;
}

.img-a3 {
  object-position: 50% 40%;
}

.img-g5 {
  object-position: 50% 35%;
}

.img-n3 {
  object-position: 50% 75%;
}

.img-n4 {
  object-position: 50% 75%;
}

.a-little-footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: .5em;
}

#btn1 {
  left: 0px;
}

#btn2 {
  left: 60px;
}

#btn3 {
  left: 120px;
}

#btn4 {
  left: 180px;
}

#btn5 {
  left: 240px;
}

#btn6 {
  left: 300px;
}

footer {
  position: relative;
}

.ee {
  background-color: #B22222;
  color: #ffffff;
  border: none;
  width: 50px;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .7s ease;
  text-align: center;
  border-radius: 30px;
  overflow: hidden;
}

.ee:hover {
  background-color: #B22222
  left: -50px;
  height: 500px;
  box-shadow: 0px 5px 0px #c0392b;
}

.sweeney-hover-1:before {
    content: "Sweeney Todd";
    font-style: italic;
}
.sweeney-hover-1:hover:before {
    content: 'ATTEND THE TALE';
    font-style: normal;
    color: maroon;
}

@media (max-width: 600px) {
  .nav-container {
    flex-wrap: wrap;
  }
  
  .nav-item {
    width: 43%;
  }
  
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "intro"
                       "photos";
  }
  
  .img-a1 {
    object-position: 50% -175px;
  }
  
  .img-a2 {
    object-position: 50% 20%;
  }
  
  .img-a3 {
    object-position: 50% 40%;
  }
  
  .img-f2 {
    object-position: 50% 40%;
  }
  
  .img-g2 {
    object-position: 50% 40%;
  }
  
  .img-g5 {
    object-position: 50% 35%;
  }
  
  .img-n3 {
    object-position: 50% 75%;
  }
  
  .img-n4 {
    object-position: 50% 75%;
  }
  
}